.heading {
  width: 70vw;
  margin: 5vh auto 2vh auto;
}

.form {
  width: 70vw;
  margin: 0 auto;
}

.submitMeme {
  width: 15vw;
  background-color: #7c8dff !important;
  border: 1px solid #7c8dff !important;
  min-width: max-content;
}

.inline {
  display: flex;
}
